---
title: RBT MEANS YOU NEED A PLAN B | Transport for NSW
layout: layout-base.hbs
---


<div class="l-push-down-xs-1">
    {{> hero}}
</div>
<div class="l-push-v-xs-05">
    {{> content-plan-b-visit}}
</div>
<div class="l-push-v-xs-05">
    {{> content-plan-b-taxi}}
</div>
<div class="l-push-v-xs-05">
    {{> content-plan-b-bed}}
</div>
<div class="l-push-v-xs-05">
    {{> content-plan-b-walk}}
</div>
<div class="l-push-v-xs-05">
    {{> content-plan-b-video}}
</div>
<div class="l-push-v-xs-05">
    {{> footer}}
</div>







