<div class="content">
    <div class="content-body l-inner-down-xs-0">
       <h3 class="sr-only">Video - What's your plan&nbsp;B</h3>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe embed-responsive-item src="https://www.youtube.com/embed/RGA5v5aaibo" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="content-video-links clearfix">
            <a class="font-feature-link l-push-left-xs"  href="documents/Transcript.pdf" title="Transcript - Opens in a new window" target="_blank">Transcript</a>
            <a class="font-feature-link l-push-right-xs"  href="http://www.youtube.com/watch?v=3KKY_5pw-W8" title="Audio Description - Opens in a new window" target="_blank">Audio Description</a></p>
        </div>
    </div>
    <!-- // .content-body .l-inner-down-xs-0 -->

    <div class="content-body l-inner-up-xs-1 option-list">
        <h3 class="l-text-sm-center font-header-feature">What's Your <span class="font-header-feature-large">Plan&nbsp;B?</span></h3>
        <ul class="l-list-clean option-list-items clearfix">
            <li>
                <input class="option-input" id="plan1" name="planselect[]" type="checkbox" value="Walk home.">
                <label  class="option-label" for="plan1">Walk home.</label>
            </li>
            <li>
                <input class="option-input" id="plan2" name="planselect[]" type="checkbox" value="Catch a taxi.">
                <label  class="option-label" for="plan2">Catch a taxi.</label>
            </li>
            <li>
                <input class="option-input" id="plan3" name="planselect[]" type="checkbox" value="Run home.">
                <label  class="option-label" for="plan3">Run home.</label>
            </li>
            <li>
                <input class="option-input" id="plan4" name="planselect[]" type="checkbox" value="Share a taxi with mates.">
                <label  class="option-label" for="plan4">Share a taxi with mates.</label>
            </li>
            <li>
                <input class="option-input" id="plan5" name="planselect[]" type="checkbox" value="Do that combined run/walk sort of thing.">
                <label  class="option-label" for="plan5">Do that combined run/walk sort of thing.</label>
            </li>
            <li>
                <input class="option-input" id="plan6" name="planselect[]" type="checkbox" value="Marry a cabbie.">
                <label  class="option-label" for="plan6">Marry a cabbie.</label>
            </li>
            <li>
                <input class="option-input" id="plan7" name="planselect[]" type="checkbox" value="Catch a bus, a train, or a ferry.">
                <label  class="option-label" for="plan7">Catch a bus, a train, or a ferry.</label>
            </li>
            <li>
                <input class="option-input" id="plan8" name="planselect[]" type="checkbox" value="Get shot out of a cannon in general direction of home.">
                <label  class="option-label" for="plan8">Get shot out of a cannon in general direction of home.</label>
            </li>
        </ul>
    </div>
    <!-- // .content-body .l-inner-up-xs-0  -->


    <div class="content-body clearfix l-inner-down-xs-2">
        <div class="l-push-left-md">
            <h2 class="font-header-share">Share your plan B with your friends</h2>
            <strong>Make sure they know not to let you drive</strong>
        </div>
        <a class="l-push-up-xs-1 l-push-up-md-0 btn btn-share l-push-right-md" title="Share on Facebook" href="http://www" id="shareBtn"><span class="text-hide">Share on Facebook</span></a>
    </div>
    <!-- // .content-body -->

</div>
<!-- //.content -->
