<div class="content">
    <div class="content-body">
        <h2><span class="font-header-highlight">Plan B:</span> Get A Bed!</h2>
        <img class="content-media" src="imgs/bed-time-a.jpg" alt="Plan B - Crash on a couch, not into a tree" title="Plan B - Crash on a couch, not into a tree" width="210" height="118"/>
        <p>Crash on a couch, not into a tree.</p>
        <p>It could be with your mate, your girlfriend, your ex or your next.</p>
    </div>
    <!-- // .content-body -->

    <div class="content-footer clearfix">
        <div class="l-push-left-md">
            <h3 class="font-header-simple">Find a bed.</h3>
            <p>There may be a hotel nearby.</p>
        </div>
        <a class="button l-push-right-md" href="https://maps.google.com.au/maps?q=accommodation&amp;sensor=true" title="Google Maps" onclick="recordOutboundLink(this, 'Outbound Links', 'https://maps.google.com.au/maps?q=accommodation&amp;sensor=true');return false;">Search Nearby Accommodation</a>
    </div>
    <!-- // .content-footer -->
</div>
<!-- //.content -->
