<div class="content">
    <div class="content-body">
        <h2><span class="font-header-highlight">Plan B:</span> taxi time!</h2>
        <img class="content-media" src="imgs/taxi-time.jpg" alt="Plan B - Taxi" title="Plan B - Taxi" width="210" height="118"/>
        <p>The quickest and safest way to get yourself home.</p>
        <p><strong>Planning ahead?</strong> Download these <a href="http://www.nswtaxi.org.au/taxi_apps.php" style="text-decoration: underline;">taxi apps</a></p>
    </div>
    <!-- // .content-body -->

    <div class="content-footer clearfix">
        <div class="l-push-left-md">
            <h3 class="font-header-simple">Ready to go now?</h3>
            <p>Click here to call a taxi service:</p>
        </div>
        <a class="button l-push-right-md" href="http://www.nswtaxi.org.au/passengers/book-a-taxi" title="Get a taxi" onclick="recordOutboundLink(this, 'Outbound Links', 'http://www.nswtaxi.org.au/passengers/book-a-taxi');return false;">Get A Taxi</a>
    </div>
    <!-- // .content-footer -->
</div>
<!-- //.content -->
