<div class="content">
    <div class="content-body">
        <h2><span class="font-header-highlight">Plan B:</span> just walk!</h2>
        <img class="content-media" src="imgs/walk-time.jpg" alt="Plan B - Crash on a couch, not into a tree" title="Plan B - Crash on a couch, not into a tree" width="210" height="118"/>
        <p>One foot in front of the other. It doesn't seem that far when you consider the consequences.</p>
        <p>If you can't get to your house, look at the friends sitting around you. One of them may live closer, and have a spare bed/couch/bathtub.</p>
    </div>
    <!-- // .content-body -->

    <div class="content-footer"></div>
    <!-- // .content-footer -->
</div>
<!-- //.content -->
