<div class="footer clearfix">
    <div class="l-push-left-md l-push-up-xs-1">
        <small>&copy; State of NSW through Transport for NSW</small>
    </div>
    <a class="l-push-up-xs-1 l-push-up-md-0 footer-brand l-push-right-md" href="http://www.transport.nsw.gov.au/" title="Transport for NSW"><span class="text-hide">Transport for NSW</span></a>
</div>