<div class="hero">
    <div class="hero-media">
        <img src="imgs/header-bg.gif" alt="" width="100%"/>
        <h1>RBT Means You need A Plan B</h1>
        <p>If you're drinking, don't drive.</p>
        <h2>Plan A: Drink & Drive, Face The Consequences</h2>
    </div>
    <div class="hero-footer">
        <p>Well, we all know how it goes. You didn t mean to drink, but one thing led to another and now you're probably over the limit.</p>
        <p>Still thinking of driving home? Think again. Apart from the fact that could end in disaster, the number of mobile RBT out there means you need a <em>Plan B!</em></p>
    </div>
</div>