<div class="promo">

    <div class="promo-content">
        <h2 class="promo-title"><span class="sr-only">Launch Yourself Home</span></h2>
        <div class="promo-weapons"></div>
        <a href="" class="promo-cta"></a>
    </div>
    <div class="promo-team"></div>
</div>