<a href="" class="promo">
    <span class="promo-content">
        <span class="promo-title"><span class="sr-only">Launch Yourself Home</span></span>
        <span class="promo-weapons"></span>
        <span class="promo-cta"></span>
    </span>
    <span class="promo-team"></span>
</a>